html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  outline: 0;
  font-weight: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
focus {
  outline: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid #000;
}
html {
  background-color: #fff;
  font-size: 62.5%;
}
section {
  border: 1px solid #000;
  padding: 4% 0;
}
body {
  font-size: 2rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 5rem;
  display: inline;
}
section {
  padding: 4% 0;
  margin: 5rem;
}
a {
  text-decoration: none;
}
nav {
  padding: 2% 0;
}
nav a {
  display: inline-block;
  width: 10%;
  padding: 1% 0;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.orange {
  background-color: #ff764e;
  margin-left: 10%;
  font-size: 1.5rem;
}
.blue {
  background-color: #5ed3eb;
  margin: 0 24%;
  font-size: 1.5rem;
}
.yellow {
  background-color: #ffcd69;
  margin-right: 10%;
  font-size: 1.5rem;
}
.left,
.right {
  display: inline-block;
}
.top {
  position: relative;
}
.left {
  width: 30%;
  border-radius: 10px;
}
.left img {
  border-radius: 50%;
  width: 80%;
  text-align: center;
}
.right {
  width: 55%;
  margin-left: 5%;
  position:absolute;
  top: 20%;
}
.brown {
  margin: 0rem;
  padding: 1rem 3rem;
  background-color: #ddb9a3;
  color: whitesmoke;
}
.cartoons img {
  width: 10%;
  
}
.bottom {
  margin: 0;
  padding: 0;
}
.bottom img {
  width: ;
  height: 2%;
}
